#main {
    height: 130vh;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 5vh;
    background-color: rgba(216, 112, 147, 0.7);
    padding: 2.5vw;
}

#buttons {
    height: 130vh;
    width: 70vw;
    margin: auto;
    margin-bottom: 5vh;
    background-color: whitesmoke;
}

#play, #pause, #bgButton {
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(216, 112, 147);
}

#help {
    position: fixed;
    bottom: 10px;
    right: 5px;
    height: 215px;
    width: 100px;
}

h2, h3, input, button {
    margin-left: 5vw;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    /* border-radius: 5px;    */
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 11px;
    /* border-radius: 50%;  */
    background: rgb(216, 112, 147);
    cursor: pointer;
    border: 2px solid black;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 11px;
    /* border-radius: 50%; */
    background: rgb(216, 112, 147);
    cursor: pointer;
    border: 2px solid black;
}