body {
    /* background-image: url('images/cherryBlossoms.gif'); */
    /* background-image: url('https://media.giphy.com/media/1yTcuT8dXngxKAH7QC/giphy.gif'); */
    /* background-image: url('https://thumbs.gfycat.com/FrigidShinyGermanspitz-small.gif'); */
    /* background-image: url('https://thumbs.gfycat.com/BreakableSerpentineCommongonolek-small.gif') */
}

#main{
    height: 100vh;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 5vh;
    background-color:rgba(216, 112, 147, 0.7); 
    padding: 2.5vw;
}

#buttons{
    height: 100vh;
    width: 70vw;
    margin: auto;
    background-color: whitesmoke;
}

#play, #pause{
    padding: 5px;
    margin-top: 5vh;
    border: 2px solid black;
    background-color: rgb(216, 112, 147);
}

h2, h3, input, button{
    margin-left: 5vh;
}